html,body
  overflow hidden
  background black
  g-cube
    position absolute
    .face
      background none !important
      backface-visibility visible !important
    .faceIntroverted
      background none !important
